/* Set the background color of the window */

@define-color main-bg-color #221E2A;
@define-color main-color #AC9BD0;

@define-color fill-bg-color #564875;
@define-color fill-color rgb(255, 255, 255);
@define-color fill-hbg-color #AC9BD0;

@define-color entry-bg-color #191520;
@define-color entry-color #F5F5F5;

window {
    font-family: Gill Sans;
    font-size: 16px;
    font-weight:bold;
    color: @main-color;
    background-color: @main-bg-color;
}

entry {
    color: @entry-color;
    background-color: @entry-bg-color;
    border-radius: 10px;
}

textview {
	padding-right:1px;
}

.pop {
    color: transparent;
    background-color: transparent;
}

scrolledwindow text {
    color: @entry-color;
    background-color: @entry-bg-color;
}

scrolledwindow {
    background-color: @entry-bg-color;
    border-color: @main-bg-color;
    padding: 10px;
    padding-bottom: 0px;
    margin: 0px;
}

grid box{
    margin: 0px;
    padding: 1px;
}

.chat_text_entry {
    color: @entry-color;
    background-color: #221E2A;
    border-radius: 0px;
    border:0px;
}

.user-box scrolledwindow{
    padding: 1px;
    margin: 0px; /*-9*/
}

.user-box  scrolledwindow button{
    font-family: Gill Sans;
    font-size: 15px;
    font-weight: bold;
    background-color: @main-bg-color;
    color: @fill-hbg-color;
    padding: 10px;
    margin-bottom: -10px;
    border-radius: 6px;
}

.last_message {
    font-size: 10px;
    color: lightgray;
}

.user-box entry{
    border-radius: 5px;
}

.user-box button:hover{
    background-color: @fill-bg-color;
}

.user-box button:active{
    background-color: @fill-bg-color;
}

button {
    font-family: Gill Sans;
    font-size: 14px;
    font-weight: bold;
    background-color: @fill-bg-color;
    background-image: url("Client/data/default_image.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: @fill-color;
    padding: 5px;
    border-radius: 20px;
}

button:hover {
    background-color: @fill-hbg-color;
}

.bubble text{
    color: @fill-color;
    background-color: @fill-bg-color;
} 

.bubble textview{
    font-family: Gill Sans;
    font-size: 14px;
    font-weight: bold;
} 

.bubble {
    padding: 3px;
    color: @fill-color;
    background-color: @fill-bg-color;
    border-radius: 10px;
    margin: 2px;
}

.bubble_button {
    padding:0px;
    border-radius: 20px;
    /* border-color: @fill-bg-color; */
    border: 0px;
}

.receive text{
    color: @fill-color;
    background-color: @main-bg-color;
} 

.receive textview{
    font-family: Gill Sans;
    font-size: 14px;
    font-weight: bold;
} 

.receive {
    padding: 6px;
    color: @fill-color;
    background-color: @main-bg-color;
    border-radius: 10px;
}

.username {
    font-family: Gill Sans;
    font-size: 16px;
    font-weight: 900;
    color: @fill-bg-color;
}

.time {
    color: @fill-hbg-color;
    font-size: 10px;
}

.edit text{
    background-color: @main-bg-color;
}

.links {
    font-family: Gill Sans;
    font-size: 10px;
    font-weight:600;
}

.profile {
    border-top: 2px solid @entry-bg-color;
    border-right: 2px solid @entry-bg-color;
    border-radius: 0px;
}

.plus_button {
    border-radius: 10px;
 }

.image {
    background-color: @fill-bg-color;
    border-radius: 100px;
}

.user{
    font-family: Gill Sans;
    font-size: 15px;
    font-weight: bold;
    background-color: @main-bg-color;
    color: @fill-hbg-color;
    padding: 10px;
    margin-bottom: -8px;
    border-radius: 6px;
}

.user button {
    border-radius: 10px;
}

.users-list {
    padding: 2px;
    margin: 2px;
}

.count {
    font-size: 10px;
}
