/* Set the background color of the window */
window {
    font-family: Arial;
    font-size: 16px;
    font-weight: bold;
    color: rgb(123, 78, 247);
    /*background-color: rgb(18, 5, 54); */
    background-color: rgb(18, 5, 54);
}

entry {
    color: rgb(123, 78, 247);
    background-color: rgb(31, 22, 58);
    border-radius: 20px;
}

.pop {
    color: transparent;
    background-color: transparent;
}

scrolledwindow text{
    color: rgb(123, 78, 247);
    background-image: url("Client/Ass/HOG.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

scrolledwindow{
    background-color: rgb(31, 22, 58);
    border-width: 2px;
    border-color: rgb(18, 5, 54);
    padding: 10px;
    padding-bottom: 0px; 
    margin: 10px;
}

/* Set the font for all buttons */
button {
    font-family: Arial;
    font-size: 14px;
    font-weight: bold;
    background-color: rgb(12, 12, 107);
    background-image: url("Client/Ass/HOG.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    
    color: rgb(123, 78, 247);
    border-radius: 20px;
    border-color: rgba(45, 6, 153, 0.863);
    border-width: 2px;
    padding: 5px;
}

/* Change button color when hovered over */
button:hover {
    background-color: #00AEEF;
    border-color: #00AEEF;
}

/* Change button color when clicked */
button:active {
    background-color: #003E8E;
    border-color: #003E8E;
}

